article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:valid,
textarea:valid,
,
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
body {
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px;
  margin: 0;
  background: #eee;
  background: url("https://next.andbang.com/images/cloth.png");
  color: #555;
}
.userImage {
  background-color: #efefef;
  padding: 2px;
  -webkit-box-shadow: color 0 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  display: inline-block;
}
.userImage img {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  -khtml-border-radius: 60px;
  -o-border-radius: 60px;
  -border-radius: 60px;
  border-radius: 60px;
}
#people {
  position: absolute;
  top: 20px;
}
#people .member {
  position: absolute;
  top: 0px;
  width: 280px;
  padding-left: 0px;
  height: 140px;
  -webkit-transition: all 2s;
  color: #111;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -o-border-radius: 3px;
  -border-radius: 3px;
  border-radius: 3px;
  background-image: #c8c8c8;
  background-image: -moz-linear-gradient(top, #c8c8c8, #b4b4b4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c8c8c8), color-stop(1, #b4b4b4));
  opacity: 0.7;
}
#people .member img {
  opacity: 0.8;
}
#people .member.online {
  opacity: 1;
  color: #333;
  background-image: #fff;
  background-image: -moz-linear-gradient(top, #fff, #ebebeb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ebebeb));
  -webkit-box-shadow: color 0 3px 5px;
  -moz-box-shadow: rgba(0,0,0,0.7) 0 3px 5px;
  box-shadow: rgba(0,0,0,0.7) 0 3px 5px;
}
#people .member.online img {
  opacity: 1;
}
#people .member.online.active h4 {
  color: #00adee;
  border-bottom: 1px solid #ccc;
}
#people .member .shippedThisWeek {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
}
#people .userImage {
  width: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  -khtml-border-radius: 35px;
  -o-border-radius: 35px;
  -border-radius: 35px;
  border-radius: 35px;
  position: absolute;
  left: 8px;
  top: 8px;
}
#people .userImage img {
  width: 35px;
  height: 35px;
}
#people h4 {
  margin: 15px 10px 0px 55px;
  padding: 3px 0 7px;
  border-bottom: 1px solid #aaa;
  font-size: 20px;
  line-height: 1;
}
#people p {
  margin: 7px 10px 0 55px;
  font-size: 15px;
  height: 68px;
  overflow: hidden;
}
.shippedContainer {
  position: fixed;
  width: 240px;
  top: 3px;
  right: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  text-shadow: #000 0 -1px 0px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.shippedContainer .userImage {
  width: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  -o-border-radius: 25px;
  -border-radius: 25px;
  border-radius: 25px;
  float: left;
  position: absolute;
  left: 0;
  top: 18px;
}
.shippedContainer .userImage img {
  width: 25px;
  height: 25px;
}
.shippedContainer .shipped {
  padding: 20px 0 20px 40px;
  margin-left: 10px;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.shippedContainer .shipped:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #111;
  position: absolute;
  left: 0;
  bottom: 1px;
}
.shippedContainer .icon {
  width: 30px;
  height: 30px;
  fill: #eb008b;
  position: absolute;
  left: -10px;
  top: 10px;
  display: none;
}
.shippedCount {
  position: absolute;
  top: 54px;
  left: 11px;
  width: 50px;
}
.shippedCount .icon {
  width: 18px;
  height: 18px;
  fill: #eb008b;
  float: left;
  margin-left: -5px;
  margin-bottom: -3px;
}
