@import '_reset'
@import '_variables'
@import '_mixins'

body
  font-family: "Helvetica Neue", sans-serif
  padding: 20px
  margin: 0
  background: #eee
  background: url(https://next.andbang.com/images/cloth.png)
  color: #555
  // -webkit-font-smoothing: antialiased

.userImage
  background-color: #efefef
  padding: 2px
  shadow: rgba(0,0,0,.5) 0 1px 2px
  display: inline-block

  img
    roundall: 60px

#people
  position: absolute
  top: 20px

  .member
    position: absolute
    top: 0px
    width: 280px
    padding-left: 0px
    height: 140px
    -webkit-transition: all 2s
    color: #111
    roundall: 3px
    gradient: rgba(200,200,200,1) rgba(180,180,180,1)
    opacity: .7

    img
      opacity: .8

    &.online
      opacity: 1
      color: #333
      gradient: rgba(255,255,255,1) rgba(235,235,235,1)
      shadow: rgba(0,0,0,.7) 0 3px 5px

      img
        opacity: 1

    &.online.active
      h4
        color: $blue
        border-bottom: 1px solid #ccc

    .shippedThisWeek
      position: absolute
      top: 20px
      left: 20px
      font-size: 24px
      font-weight: bold

  .userImage
    width: 35px
    roundall: 35px
    position: absolute
    left: 8px
    top: 8px

    img
      width: 35px
      height: 35px

  h4
    margin: 15px 10px 0px 55px
    padding: 3px 0 7px
    border-bottom: 1px solid #aaa
    font-size: 20px
    line-height: 1

  p
    margin: 7px 10px 0 55px
    font-size: 15px
    height: 68px
    overflow: hidden

.shippedContainer
  position: fixed
  width: 240px
  top: 3px
  right: 10px
  color: #fff
  font-size: 16px
  font-weight: 200
  textShadow: rgba(0,0,0,1) 0 -1px 0px
  height: 100%
  overflow-y: scroll
  overflow-x: hidden

  .userImage
    width: 25px
    roundall: 25px
    float: left
    position: absolute
    left: 0
    top: 18px

    img
      width: 25px
      height: 25px

  .shipped
    padding: 20px 0 20px 40px
    margin-left: 10px
    position: relative
    border-bottom: 1px solid rgba(255,255,255,.2)
    &:after
      content: ""
      display: block
      width: 100%
      border-bottom: 1px solid #111
      position: absolute
      left: 0
      bottom: 1px

  .icon
    width: 30px
    height: 30px
    fill: $pink
    position: absolute
    left: -10px
    top: 10px
    display: none

.shippedCount
  position: absolute
  top: 54px
  left: 11px
  width: 50px

  .icon
    width: 18px
    height: 18px
    fill: $pink
    float: left
    margin-left: -5px
    margin-bottom: -3px





